@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.opensans {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5{
  color: black;
  font-family: "Open Sans", sans-serif;
}

body{
  font-family: "Open Sans", sans-serif;
}

p>a {
  color: #008184;
}

li>a {
  color: #008184;
}

.sourceCode>a{
  color: black;
}

.st{
  color: #FF8847;
}

.op{
  color: #666666;
}

.dv, .dt{
  color: #191919;
}

.btn-copy-ex:hover{
  background-color: #008184;
  border-color: black;
}

.btn-copy-ex{
  background-color: black;
  border-color: #008184;
}

.navbar-default{
  font-family: "Open Sans", sans-serif;
  color: black;
  border-color: #008184;
  background-color: #008184;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: #008184;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: white;
}

 .navbar-default .navbar-nav .open .dropdown-menu>li>a, .navbar-default .navbar-nav .open .dropdown-menu {
  border-color: #008184;
  background-color: #008184;
}

.navbar-default .navbar-nav > .dropdown > a .caret {
  color: black;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  color: #008184;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus{
  color: black;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu{
  color: black;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
  color: #FFF;
  background-color: #008184;
}

#navbar > ul:nth-child(1) > li.dropdown.active.open > ul > li.active > a{
  color: #FFF;
  background-color: #008184;
}

a:hover, a:focus {
  color: #008184;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}
.navbar-default .navbar-link {
    color: white;
}
.navbar-default .navbar-link:hover {
    color: white;
}
